src/main/resources/wsdl/ezeemoney.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="API" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://mmpuchong.mobile-money.com:1668/EMTerminalAPI/API.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://mmpuchong.mobile-money.com:1668/EMTerminalAPI/API.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://mmpuchong.mobile-money.com:1668/EMTerminalAPI/API.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMTerminalAPI.Model"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IService_PayBill_InputMessage">
        <wsdl:part name="parameters" element="tns:PayBill"/>
    </wsdl:message>
    <wsdl:message name="IService_PayBill_OutputMessage">
        <wsdl:part name="parameters" element="tns:PayBillResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_ValidateBillAccount_InputMessage">
        <wsdl:part name="parameters" element="tns:ValidateBillAccount"/>
    </wsdl:message>
    <wsdl:message name="IService_ValidateBillAccount_OutputMessage">
        <wsdl:part name="parameters" element="tns:ValidateBillAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_CheckBillStatus_InputMessage">
        <wsdl:part name="parameters" element="tns:CheckBillStatus"/>
    </wsdl:message>
    <wsdl:message name="IService_CheckBillStatus_OutputMessage">
        <wsdl:part name="parameters" element="tns:CheckBillStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_CheckBalance_InputMessage">
        <wsdl:part name="parameters" element="tns:CheckBalance"/>
    </wsdl:message>
    <wsdl:message name="IService_CheckBalance_OutputMessage">
        <wsdl:part name="parameters" element="tns:CheckBalanceResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_TopUp_InputMessage">
        <wsdl:part name="parameters" element="tns:TopUp"/>
    </wsdl:message>
    <wsdl:message name="IService_TopUp_OutputMessage">
        <wsdl:part name="parameters" element="tns:TopUpResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_GetDueAmountAndDate_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDueAmountAndDate"/>
    </wsdl:message>
    <wsdl:message name="IService_GetDueAmountAndDate_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDueAmountAndDateResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCheckPhoneNo_InputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCheckPhoneNo"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCheckPhoneNo_OutputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCheckPhoneNoResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCashIn_InputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCashIn"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCashIn_OutputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCashInResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCashOut_InputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCashOut"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCashOut_OutputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCashOutResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCheckStatus_InputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCheckStatus"/>
    </wsdl:message>
    <wsdl:message name="IService_AirtelMoneyCheckStatus_OutputMessage">
        <wsdl:part name="parameters" element="tns:AirtelMoneyCheckStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_InsuranceSearchCustomerInfoByCard_InputMessage">
        <wsdl:part name="parameters" element="tns:InsuranceSearchCustomerInfoByCard"/>
    </wsdl:message>
    <wsdl:message name="IService_InsuranceSearchCustomerInfoByCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:InsuranceSearchCustomerInfoByCardResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_GetTelcoList_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTelcoList"/>
    </wsdl:message>
    <wsdl:message name="IService_GetTelcoList_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTelcoListResponse"/>
    </wsdl:message>
    <wsdl:message name="IService_AirTimeTopUp_InputMessage">
        <wsdl:part name="parameters" element="tns:AirTimeTopUp"/>
    </wsdl:message>
    <wsdl:message name="IService_AirTimeTopUp_OutputMessage">
        <wsdl:part name="parameters" element="tns:AirTimeTopUpResponse"/>
    </wsdl:message>
    <wsdl:portType name="IService">
        <wsdl:operation name="PayBill">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/PayBill" message="tns:IService_PayBill_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/PayBillResponse" message="tns:IService_PayBill_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateBillAccount">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/ValidateBillAccount" message="tns:IService_ValidateBillAccount_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/ValidateBillAccountResponse" message="tns:IService_ValidateBillAccount_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CheckBillStatus">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckBillStatus" message="tns:IService_CheckBillStatus_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckBillStatusResponse" message="tns:IService_CheckBillStatus_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CheckBalance">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckBalance" message="tns:IService_CheckBalance_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckBalanceResponse" message="tns:IService_CheckBalance_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TopUp">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/TopUp" message="tns:IService_TopUp_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/TopUpResponse" message="tns:IService_TopUp_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDueAmountAndDate">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDueAmountAndDate" message="tns:IService_GetDueAmountAndDate_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDueAmountAndDateResponse" message="tns:IService_GetDueAmountAndDate_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCheckPhoneNo">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/AirtelMoneyCheckPhoneNo" message="tns:IService_AirtelMoneyCheckPhoneNo_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/AirtelMoneyCheckPhoneNoResponse" message="tns:IService_AirtelMoneyCheckPhoneNo_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCashIn">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/AirtelMoneyCashIn" message="tns:IService_AirtelMoneyCashIn_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/AirtelMoneyCashInResponse" message="tns:IService_AirtelMoneyCashIn_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCashOut">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/AirtelMoneyCashOut" message="tns:IService_AirtelMoneyCashOut_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/AirtelMoneyCashOutResponse" message="tns:IService_AirtelMoneyCashOut_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCheckStatus">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/AirtelMoneyCheckStatus" message="tns:IService_AirtelMoneyCheckStatus_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/AirtelMoneyCheckStatusResponse" message="tns:IService_AirtelMoneyCheckStatus_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsuranceSearchCustomerInfoByCard">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/InsuranceSearchCustomerInfoByCard" message="tns:IService_InsuranceSearchCustomerInfoByCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/InsuranceSearchCustomerInfoByCardResponse" message="tns:IService_InsuranceSearchCustomerInfoByCard_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTelcoList">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTelcoList" message="tns:IService_GetTelcoList_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTelcoListResponse" message="tns:IService_GetTelcoList_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AirTimeTopUp">
            <wsdl:input wsaw:Action="http://tempuri.org/IService/AirTimeTopUp" message="tns:IService_AirTimeTopUp_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IService/AirTimeTopUpResponse" message="tns:IService_AirTimeTopUp_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PayBill">
            <soap:operation soapAction="http://tempuri.org/IService/PayBill" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateBillAccount">
            <soap:operation soapAction="http://tempuri.org/IService/ValidateBillAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckBillStatus">
            <soap:operation soapAction="http://tempuri.org/IService/CheckBillStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckBalance">
            <soap:operation soapAction="http://tempuri.org/IService/CheckBalance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TopUp">
            <soap:operation soapAction="http://tempuri.org/IService/TopUp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDueAmountAndDate">
            <soap:operation soapAction="http://tempuri.org/IService/GetDueAmountAndDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCheckPhoneNo">
            <soap:operation soapAction="http://tempuri.org/IService/AirtelMoneyCheckPhoneNo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCashIn">
            <soap:operation soapAction="http://tempuri.org/IService/AirtelMoneyCashIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCashOut">
            <soap:operation soapAction="http://tempuri.org/IService/AirtelMoneyCashOut" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AirtelMoneyCheckStatus">
            <soap:operation soapAction="http://tempuri.org/IService/AirtelMoneyCheckStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsuranceSearchCustomerInfoByCard">
            <soap:operation soapAction="http://tempuri.org/IService/InsuranceSearchCustomerInfoByCard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTelcoList">
            <soap:operation soapAction="http://tempuri.org/IService/GetTelcoList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AirTimeTopUp">
            <soap:operation soapAction="http://tempuri.org/IService/AirTimeTopUp" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="API">
        <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
            <soap:address location="http://mmpuchong.mobile-money.com:1668/EMTerminalAPI/API.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>